body {
  background-color: lavender;
  width: 80%;
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* text-align: center; */
}


.container {
  display: flex;
  width: 100%;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-direction: row;*/
  column-gap: 200px; 
  margin:60px 400px;
}

h2 {
  font-size: 40px;
}